<html>
    <head>

    </head>
    <body>
        <h1> User List: </h1>
        <ul>
        {% for u in users %}
            <li>{{ u.get_fullname }}</li>
            {% for g in u.grades %}
                {{ g }}
            {% endfor %}
        {% endfor %}
        </ul>

        <form action="/users/list/" method="POST">
            First name:<br>
            <input type="text" name="firstname" value="Mickey">
            <br>
            Last name:<br>
            <input type="text" name="lastname" value="Mouse">
            <br><br>
            <input type="submit" value="Submit">
        </form> 
          

    </body>
</html>