<html>
    <head>

    </head>
    <body>
        <h1> User List: </h1>
        <ul>
        {% for u in users %}
            <li>{{ u.first_name }} {{ u.last_name }} </li>
        {% endfor %}
        </ul>

        <form action="/users/list/" method="POST">
            First name:<br>
            <input type="text" name="first_name" value="Mickey">
            <br>
            Last name:<br>
            <input type="text" name="last_name" value="Mouse">
            <br><br>
            <input type="submit" value="Submit">
        </form> 
          

    </body>
</html>